.dm_demo { 
    background-image: url('http://hdqwalls.com/download/lake-forest-mountains-illustration-4k-fv-1920x1080.jpg');
    background-size: cover;
    text-align: center;
    height: 100%; 
    width: 100%;
    overflow: hidden;
    position: fixed;
    
}