/* login/sign up */
.big{
    color: #eef2e0;
    background-image: url("sabri-tuzcu-331970-unsplash.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100vh;  
    text-align: center;
    text-decoration: none;
    padding-top: 2%;
    
/* parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ls{
    color: #eef2e0;
    padding-top: 8%;
    padding-left: 5%;  
    line-height: .01;
    /* background-color: #ffffff; */
    text-decoration: none;
    text-align: left;
    height: 80vh;
    /* width: 50%; */
    float: left;
}
div a{
    color: #eef2e0;
    text-decoration: none;
    line-height: .01;
}
div a:hover{
    text-decoration: none;
    color: #eef2e0b7;
}
.icon{
    font-size: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #405867;
}
.pic{
    width: 22vw;
    text-align: center;
    /* background-color: #674065; */
}
/* form */
.form{
    /* background-color: #b1b3ac; */
    width: 50%;
    height: 80vh;
    float: left;
    overflow: auto;
    padding-top: 4em;
}

  /* .FormCenter {
    margin-bottom: 100px;
  } */
  
  .FormTitle {
    color: rgb(214, 214, 214);
    /* font-weight: 300; */
    margin-bottom: 20px;
    padding-top: 10px;
    /* background-color: rgb(159, 128, 190); */
  }
  /* Login & sign up switch */
  .FormTitle__Link {
    color: #ff8c00;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 0;
  }
  
  .FormTitle__Link:first-child {
    margin-left: 0;
  }
  
  .FormTitle__Link--Active {
    color: white;
    /* border-bottom: 1px solid #199087; */
  }
  
  .FormField {
    margin-bottom: 30px;
    /* background-color: rosybrown; */
  }
  
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
    /* background-color: darkgoldenrod; */
  }
  .FormField__Input {
    width: 85%;
    background-color: #eef2e07a;
    border: none;
    color: #405867;
    outline: none;
    border-bottom: 1px solid #eef2e07a;
    font-size: 15px;
    /* font-weight: 300; */
    padding-top: 2px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-top: .7em;
  }
  
  .FormField__Input::placeholder {
    color: #405867;
  }
  .FormField__CheckboxLabel {
    color: #405867;
    font-size: 1em;
    float: left;
    text-align: left;
    padding-left: 3.5em;
    padding-bottom: 1.5em;
    width : 85%;
    /* background : red; */
  }
  
  .FormField__Checkbox {
    position: relative;
    top: 1.5px;
  } 
  .FormField__Button {
    background-color: #405867;    
    color: #eef2e0;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: 1em;
    margin-right: 2em;
  }
  
  .FormField__Link {
    color: #405867;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    /* border-bottom: 2px solid #225E62; */
    padding-bottom: 5px;
  }
  .FormField__TermsLink {
    color: #405867;
    /* border-bottom: 1px solid #199087; */
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }

/* about us */
.abt{
    margin: 0%;
    width: 100%; 
    color: #405867;
    background-image: url("kelly-sikkema-594314-unsplash.jpg");
    background-size: cover;
    text-align: center;
    padding: 0 0 2em 0;
    /* parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    text-align: center;
}

/* footer */
.footer{
    width: 100%;
    height: 9vh;
    margin: 0%;
    color: #b1b3ac;;
    background-color: #333a3d;
    top: 0;
    bottom: 0;
}
.f1{
    height: 100%;
    background-color: #ff8c00;
    padding: 0%;
    
}
.f2{
    height: 100%;
}
.f3{
    height: 100%;
}
.img{
    width: 12vw;
    height: 6vh;
    padding-top: 4%;
}
ul{
    padding: 0%;
    margin: 0%;
    border: 0%;
    width: 200px;
  }
  ul li{
    text-decoration: none;
    list-style: none;
    float: right;
    margin: 10px;
    height: 80%;
    padding-top:2%;
    color: #ffffff;
    text-align: center;
  }
  ul li a{
    text-decoration: none;
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    line-height: 30px;
    font-size: 20px; 
  }

